body {
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 343px;
    width: 40%;
    margin-top: -177.5px;
    color: #feee44;
    text-align: center;
    font-family: 'helvetica';
    z-index: 3200;
}

.intro-text h1 {
    line-height: 1.1;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
}

.intro-text div {
    background-color: #feee44;
    display: block;
    height: 10px;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 3000;
}

.quad-1,
.quad-2,
.quad-3,
.quad-4 {
    position: absolute;
}


/*QUAD 1*/


.quad-1 {
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
}

.quad-1 .one,
.quad-1 .two,
.quad-1 .three,
.quad-1 .four {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.quad-1 .one {
    background: url("img/p-1.png") no-repeat scroll right bottom/cover transparent; 
    z-index: 550;   
}

.quad-1 .two {
    background: url("img/p-2.png") no-repeat scroll right bottom/cover transparent; 
    z-index: 549;   
}

.quad-1 .three {
    background: url("img/p-3.png") no-repeat scroll right bottom/cover transparent; 
    z-index: 548;   
}

.quad-1 .four {
    background: url("img/p-4.png") no-repeat scroll right bottom/cover transparent; 
    z-index: 547;   
}


/*QUAD 2*/

.quad-2 {
    top: 0;
    right: 0;
    left: 50%;
    bottom: 50%;
}

.quad-2 .one,
.quad-2 .two,
.quad-2 .three,
.quad-2 .four {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.quad-2 .one {
    background: url("img/p-5.png") no-repeat scroll left bottom/cover transparent; 
    z-index: 550;   
}

.quad-2 .two {
    background: url("img/p-6.png") no-repeat scroll left bottom/cover transparent; 
    z-index: 549;   
}

.quad-2 .three {
    background: url("img/p-7.png") no-repeat scroll left bottom/cover transparent; 
    z-index: 548;   
}

.quad-2 .four {
    background: url("img/p-8.png") no-repeat scroll left bottom/cover transparent; 
    z-index: 547;   
}

/*QUAD 3*/

.quad-3 {
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%;
}

.quad-3 .one,
.quad-3 .two,
.quad-3 .three,
.quad-3 .four {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.quad-3 .one {
    background: url("img/p-9.png") no-repeat scroll left top/cover transparent; 
    z-index: 550;   
}

.quad-3 .two {
    background: url("img/p-10.png") no-repeat scroll left top/cover transparent; 
    z-index: 549;   
}

.quad-3 .three {
    background: url("img/p-11.png") no-repeat scroll left top/cover transparent; 
    z-index: 548;   
}

.quad-3 .four {
    background: url("img/p-12.png") no-repeat scroll left top/cover transparent; 
    z-index: 547;   
}

/*QUAD 4*/

.quad-4 {
    bottom: 0;
    left: 0;
    right: 50%;
    top: 50%;
}

.quad-4 .one,
.quad-4 .two,
.quad-4 .three,
.quad-4 .four {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.quad-4 .one {
    background: url("img/p-13.png") no-repeat scroll right top/cover transparent; 
    z-index: 550;   
}

.quad-4 .two {
    background: url("img/p-14.png") no-repeat scroll right top/cover transparent; 
    z-index: 549;   
}

.quad-4 .three {
    background: url("img/p-15.png") no-repeat scroll right top/cover transparent; 
    z-index: 548;   
}

.quad-4 .four {
    background: url("img/p-16.png") no-repeat scroll right top/cover transparent; 
    z-index: 547;   
}

#musicVideo {
    position: fixed; 
    top: -5%;
    right: 0px; 
    bottom: 0px;
    left: -5%;
    min-width: 110%; 
    min-height: 110%;
    width: auto; 
    height: auto; 
    z-index: 0;
    background-size: cover;
}

@media all and (max-width: 640px) {
    .intro-text {
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}

