#show-video {
    width: 200px;
    position: absolute;
    top: 300px;
    z-index: 10000;
    left:50%;
    margin-left:-100px;
    background-color: black;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    padding: 35px 20px;
    font-family: 'Helvetica-Neue';
}

#musicVideo {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}